Checks: >
  cppcoreguidelines-*,
  bugprone-*,
  performance-*,
  modernize-*,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: >
  bugprone-*,
  performance-*

HeaderFilterRegex: 'src/|include/'

CheckOptions:
  - key: cppcoreguidelines-pro-bounds-pointer-arithmetic.IgnoreMacros
    value: true

FormatStyle: none